body {
  background-image: url('../public/img/colorful_110902282_65.jpg');
  background-size: cover;
}
.App {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
  font-weight: 900;
  color: whitesmoke;
  text-transform: capitalize;
}
img {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
label {
  padding: 10px;
  font-style: italic;
}
img {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
form {
  height: 300px;
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}
input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

button {
  appearance: none;
  -webkit-appearance: none;

  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 200px;
}
button:hover {
  background-color: purple;
  transition: background-color 0.3s ease-in;
}
